* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 21px;
}
window#waybar {
    background: transparent;
    border-radius: 12px;
}

tooltip {
    background: #1b1e25;
    border-radius: 8px;
    border-width: 0px;
}
tooltip label {
    font-size: 13px;
    color: #86afef;
}
#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0px;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: #86afef;
    color: #86afef;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: #86afef;
    color: #86afef;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
#mpris {
	font-size: 14;
	color: #2d333f;
	background: #a3be8c;
	margin-top: 12px;
        margin-bottom: 12px;
	padding-left: 13px;
	padding-right: 13px;
}
#custom-cavavis{
	font-size: 14;
	color: #a3be8c;
}
#temperature {
	font-size: 14;
	color:  #86afef;
}
#custom-tempicon {
	font-size: 14;
	color: #2d333f;
	background: #86afef;
	margin-top: 10px;
        margin-bottom: 10px;
	padding-left: 13px;
	padding-right: 13px;
}
#memory{
	font-size: 14;
	color: #d35e86;
}
#custom-memicon{
    	font-size: 14;
	color: #2d333f;
	background: #d35e86;
	margin-top: 10px;
        margin-bottom: 10px;
	padding-left: 13px;
	padding-right: 18px;
}
#clock{
	font-size: 14;
	color: #2d333f;
	background: #b48ead;
	margin-top: 10px;
        margin-bottom: 10px;
	padding-left: 13px;
	padding-right: 13px;
}

#battery{
	font-size: 14;
	background: #c1af79;
	color: #2d333f;
	margin-top: 10px;
        margin-bottom: 10px;
	padding-left: 12px;
	padding-right: 12px;
}
#custom-batext{
	font-size: 14;
	color: #c1af79;
}
#cpu{
	font-size: 14;
	color: #85c3a9;
}
#custom-cpuicon{
    	font-size: 14;
	color: #2d333f;
	background: #85c3a9;
	margin-top: 10px;
        margin-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
}
#network{
	font-size: 14;
	color: #bf616a;
}

#pulseaudio{
	font-size: 14;
	color: #80c0d0;
}
#custom-networkicon{
    	font-size: 14;
	color: #2d333f;
	background: #bf616a;
	margin-top: 10px;
        margin-bottom: 10px;
	padding-left: 9px;
	padding-right: 9px;
}
#custom-volumeicon{
    	font-size: 14;
	color: #2d333f;
	background: #80c0d0;
	margin-top: 10px;
        margin-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
}
